:root {
  --L-primary: #e84959;
  --L-background: #f7f7f8;
  --L-clothes-Background: #e6e6e6;
  --L-menu: #ffffff;
  --L-black: #262626;
  --header-height: 3.5rem;
  --body-font: "Roboto", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-bold: 700;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anek Latin", sans-serif;
}

body {
  position: relative;
  background-color: var(--L-background);
  color: var(--L-black);
  fill: var(--L-black);
  transition: 0.3s;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

img {
  display: block;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.container .header {
  min-width: 100vw;
  position: fixed;
  top: 0;
}

.container .header .navbar {
  background-color: var(--L-background);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  height: 80px;
  min-width: 100vw;
  gap: 2rem;
  box-shadow: 0px 7px 20px -11px rgba(0, 0, 0, 0.75);
  z-index: 10000;
}

.container .header .navbar .sub_nav .nav_home,
.container .header .navbar .sub_nav .nav_product {
  display: none;
}

.container .header .menu-ham {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--L-background);
  gap: 1.8rem;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.5s;
  position: fixed;
}

.container .header .menu-ham .exit {
  display: flex;
  align-self: flex-end;
  height: 35px;
  width: 35px;
  margin-right: 1rem;
}

.container .header .menu-ham .exit:hover {
  cursor: pointer;
}

.container .header .show {
  transform: translateX(0);
}

.container .header .unShow {
  transform: translateX(100%);
}

/* .icon-menu {
  font-size: 2rem;
  display: flex;
  height: 5rem;
  position: fixed;
  z-index: 1;
  right: 15%;
  width: 3rem;
  cursor: pointer;
  top: 0;
  transition: 0.5s;
}

.container .content_header .navbar {
  position: fixed;
  width: 30%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  left: 0;
  top: 0;
  padding-top: 2rem;

  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.5s;
  background-color: rgba(40, 149, 212, 0.5);
  border-radius: 1rem;
}

.container .content_header .activado {
  transform: translateX(0);
} */

.container .header .menu-ham a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.container .header .menu-ham a:hover {
  color: #e84959;
  transition: 0.3s;
}

.container .header .navbar .icons {
  display: flex;
  gap: 2rem;
}

.container .header .navbar .icons:hover {
  cursor: pointer;
}

.container .header .navbar .icons svg:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0px 22px 29px -12px rgb(0 0 0 / 75%);
}

.container .content_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .content_main .content_main_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .content_main .content_main_one .sweater {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  background-color: #e84959;
  height: 300px;
  width: 250px;
  margin-top: 3rem;
}

.container .content_main .content_main_one .sweater img {
  display: flex;
  width: 100%;
  height: 280px;
  align-self: flex-end;
}

.container .content_main h1 {
  margin-top: 2rem;
  font-size: 35px;
  font-weight: 700;
}

.container .content_main p {
  margin-top: 1rem;
  font-size: 15px;
  font-family: sans-serif;
}

.container .content_main h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 600;
  color: #e84959;
}

.container .content_main .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.container .content_main .btn .discover {
  background-color: #b1b1b1;
  font-size: 12px;
  font-weight: 600;
  border: none;
  height: 50px;
  width: 105px;
}

.container .content_main .btn .discover:hover {
  cursor: pointer;
  color: white;
}

.container .content_main .btn .add {
  background-color: #2e2e2e;
  color: #ffffff;
  height: 57px;
  width: 160px;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.container .content_main .btn .add:hover {
  background-color: #e84959;
  cursor: pointer;
  border: none;
}

.container .content_main .products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  margin-top: 5rem;
  place-items: center;
}

.container .content_main .products .info {
  display: flex;
  padding: 0;
  width: 170px;
  border-right: 1rem;
  border-color: #262626;
}

.container .content_main .products .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 200;
}

.container .content_main .products .info .name {
  font-weight: bold;
  font-size: 18px;
}

.container .content_second_main .content_cards_products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.container .content_second_main .content_cards_products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
}

.container .content_second_main .content_cards_products .product {
  background-color: #e6e6e6;
  height: 230px;
  width: 250px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  /* position: relative; */
}

.container .content_second_main .content_cards_products .card .product img {
  height: 180px;
  width: 180px;
  transition: transform 0.5s;
  margin-top: 1rem;
}

.container
  .content_second_main
  .content_cards_products
  .card
  .product
  img:hover {
  transform: scale(1.05);
}

.container .content_second_main .content_cards_products .footer_product {
  background-color: #f7f7f8;
  padding: 1rem;
}

.container .content_second_main .content_cards_products .card .btn_plus {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top: 1.5rem;
}

.container .content_second_main .content_cards_products .card .btn_plus button {
  background-color: var(--L-menu);
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: none;
  color: #505050;
  box-shadow: 0px 2px 2px 0px rgba(156, 156, 156, 0.75);
  font-size: 25px;
  transition: transform 0.5s;
  margin-right: 1rem;
  position: absolute;
  display: inline-block;
}

.container .content_second_main .content_cards_products .card button:hover {
  cursor: pointer;
  color: white;
  background-color: #e84959;
}

.container .content_second_main .content_cards_products .card .footer_product {
  margin-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.container
  .content_second_main
  .content_cards_products
  .card
  .footer_product
  .price_stock {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-left: 1rem;
}

.container
  .content_second_main
  .content_cards_products
  .card
  .footer_product
  .price_stock
  h3 {
  font-size: 22px;
  font-weight: 600;
}

.container
  .content_second_main
  .content_cards_products
  .card
  .footer_product
  .price_stock
  p {
  font-size: 12px;
}

.container
  .content_second_main
  .content_cards_products
  .card
  .footer_product
  .type
  p {
  font-size: 18px;
  font-weight: 500;
  margin-left: 1rem;
}

.content_footer {
  background-color: #dfdfdf;
}

.content_footer .footer {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  gap: 2rem;
  padding-bottom: 3rem;
  font-size: 12px;
  margin-top: 5rem;
  margin-left: 1.5rem;
}

.content_footer .footer .information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 6rem;
}

.content_footer .footer .about_us {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content_footer .footer .product_footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content_footer .footer .redes {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.content_footer ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.content_footer ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.copyright p {
  font-size: 14px;
  color: #b1b1b1;
  font-weight: 500;
  margin-left: 9rem;
}

@media (min-width: 800px) {
  .container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
  }

  .container .header {
    max-width: 1080px;
  }

  /* .container .header .icons {
    background-color: #e84959;
    height: 80px;
    width: 480px;
    margin-right: 6.1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  } */

  .container .header .icons .menu {
    display: none;
  }

  .container .header .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 25rem;
    position: absolute;
  }

  .container .header .navbar .sub_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .container .header .navbar .sub_nav a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
  }

  .container .header .navbar .sub_nav a:hover {
    color: #e84959;
  }

  .container .header .navbar .sub_nav .nav_home,
  .container .header .navbar .sub_nav .nav_product {
    display: flex;
  }

  .container .header .navbar .sub .nav_home a:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0px 22px 29px -12px rgb(0 0 0 / 75%);
  }

  .container .content_main {
    width: 100%;
  }

  .container .content_main .content_main_one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7.5rem;
    max-width: 1080px;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-left: 1.5rem;
    margin-bottom: 18rem;
  }

  .container .content_main .content_main_one .home p {
    margin-top: 1.5rem;
  }

  .container .content_main .content_main_one .home h2 {
    margin-top: 2rem;
  }

  .container .content_main .btn .discover {
    height: 50px;
    margin-top: 1rem;
  }

  .container .content_main .btn .add {
    width: 160px;
    margin-top: 1rem;
  }

  .container .content_main .content_main_one .sweater {
    grid-column: 2 / 3;
    height: 600px;
    width: 480px;
    margin-right: 0.9rem;
    /* position: fixed; */
    right: 0%;
  }

  .container .content_main .content_main_one .sweater img {
    height: 500px;
    margin-top: 2.5rem;
  }

  .container .content_main .content_main_one .home {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .container .content_main .products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0;
  }

  .container .content_second_main .content_cards_products {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .content_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 440px;
    margin-bottom: 5rem;
    background-color: #dfdfdf;
    padding: 0;
    margin: 0;
  }

  .content_footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 9rem;
  }

  .content_footer .footer .information {
    margin: 0;
  }

  .content_footer .footer h2 {
    font-size: 19px;
  }

  .content_footer .footer ul li a {
    font-size: 16px;
  }

  .copyright {
    align-self: center;
    margin-bottom: 1rem;
  }

  .copyright p {
    font-size: 14px;
    color: #b1b1b1;
    font-weight: 500;
  }
}
